#ignore all in root folder except
/*
!build_Site.sh
!src/
!.gitignore
!_config.yml
!.nojekyll

#in src, ignore temporary file
src/*.gem
src/*.sublime-project
src/*.sublime-workspace
src/.bundle
src/.DS_Store
src/.jekyll-metadata
src/.sass-cache
src/_asset_bundler_cache
src/_site
src/codekit-config.json
src/Gemfile.lock
src/node_modules
src/npm-debug.log*
